<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Vertretungsplan</title>
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<link rel="stylesheet" type="text/css" href="css/style.css" />
	</head>
	<body>
		<div class="container">
			<h1>Alle Vertretungen</h1>
			<p>
				<strong>Disclaimer:</strong>
				Die Informationen auf dieser Seite sind nicht verlässlich.
				Sie werden von <a href="http://tgsindelfingen.de/vertretungs-und-ausfallplaene/">hier</a> ausgelesen (alle 15 Minuten).
				Da der Vertretungsplan dort nur sehr selten aktualisiert wird kann ich nicht für die Aktualität garantieren.
				Außerdem können Informationen falsch ausgelesen werden und daher falsch sein.
			</p>
			<table>
				<tr>
					<th>Tag</th>
					<th>Stunde(n)</th>
					<th>Klassen</th>
					<th>Lehrer / Fach</th>
					<th>Vertretung</th>
					<th>Fach</th>
					<th>Raum</th>
					<th>Bemerkung</th>
				</tr>
				<!--<% for(var i = 0; i < vertretungen.length; i++) {-->
				<!--var v = vertretungen[i]; %>-->
				<tr for="v in data.vertretungen">
					<td>${v.day}</td>
					<td>${v.lessons}</td>
					<td>${v.classes}</td>
					<td>${v.teacherSubject}</td>
					<td>${v.substituteTeacher}</td>
					<td>${v.substituteSubject}</td>
					<td>${v.room}</td>
					<td>${v.comment}</td>
				</tr>
				<!--<% } %>-->
			</table>
			<p if="data.message">
				${data.message}
			</p>
			<p>
				<a href="https://github.com/maxkl/gds1-vertretungsplan">Quellcode</a>
			</p>
		</div>
	</body>
</html>